<!DOCTYPE html>
<html lang="en" layout:decorate="layouts/defaultLayout">
<body>
  <div layout:fragment="content">
  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar with categories and filters -->
      <div class="col-md-3">
        <div class="sidebar">
          <h2>Categories</h2>
          <div class="container">
            <div id="accordion">
              <div class="row">
                <div class="col">
                  <div class="card" th:each="category : ${category}" style="border:none;">
                    <div class="card-header" th:id="'electronicsHeading_' + ${category.id}">
                      <h5 class="mb-0">
                        <button th:text="${category.name}" 
                                class="btn btn-link accordion-link"
                                style="color:#ff9900;"
                                data-toggle="collapse"
                                th:data-target="'#electronicsCollapse_' + ${category.id}" 
                                aria-expanded="true" 
                                th:aria-controls="'electronicsCollapse_' + ${category.id}">
                          Electronics
                        </button>
                      </h5>
                    </div>
                    <div th:id="'electronicsCollapse_' + ${category.id}"
                         class="collapse" 
                         aria-labelledby="'electronicsHeading_' + ${category.id}" 
                         data-parent="#accordion">
                      <div class="card-body">
                        <ul>
                          <li><a th:href="'http://localhost:8080/shop/category?category=' + ${category.id}"     
                                 style="color:#ff9900;">
                                <span>All <span th:text="${category.name}"></span></span>
                                </a>
                          </li>
                          <div  th:each="subcategory : ${subCategory}">
                            <div th:if="${subcategory.categoryId == category.id}">
                              <li><a th:href="'http://localhost:8080/shop/subcategory?subcategory=' + ${subcategory.id}"
                                     th:text="${subcategory.name}"
                                     style="color:#ff9900;">
                                 Smartphones
                                </a>
                              </li>
                            </div>
                          </div>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <h2>Filters</h2>
          <div class="form-group">
            <label for="priceRange">Price Range:</label>
            <div class="input-group">
              <input type="text" class="form-control" id="startPrice" placeholder="Starting Price">
              <div class="input-group-prepend">
                <span class="input-group-text">to</span>
              </div>
              <input type="text" class="form-control" id="endPrice" placeholder="Ending Price">
            </div>
          </div>
          <div class="form-group">
            <label for="brandSelect">Brand:</label>
            <select class="form-control" id="brandSelect">
              <option>Select Brand</option>
              <option>Brand 1</option>
              <option>Brand 2</option>
              <option>Brand 3</option>
            </select>
          </div>
          <div class="form-group">
            <label>Rating:</label>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="rating1">
              <label class="form-check-label" for="rating1">1 Star</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="rating2">
              <label class="form-check-label" for="rating2">2 Stars</label>
            </div>
            <!-- Additional rating options can be added here -->
          </div>
        </div>
      </div>


      <!-- Main content area to display products -->
      <div class="col-md-9 p-4">
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-4" th:each="product : ${products}">
            <div class="product-card" style="min-height: 100%;">
              <div class="card h-100" style="border: none;">
                <a th:href="@{'/product/' + ${product.id}}" class="product-card-link">
                  <img th:src="@{${product.image}}" class="card-img-top img-fluid" alt="Product Image">
                </a>
                <div class="card-body d-flex flex-column" style="min-height: 100%;">
                  <a th:href="@{'/product/' + ${product.id}}" class="product-card-link">
                    <h5 class="card-title mb-0" style="max-height: 3.6em; overflow: hidden; text-overflow: ellipsis; margin-bottom: 0;" th:text="${product.name}">Product 1</h5>
                    <p class="card-text rating-class" th:id="${product.rating}" style="margin-bottom: 0;">Rating:</p>
                    <p class="card-text" th:if="${!product.discount}" style="margin-bottom: 0;">$<span th:text="${product.price}"></span></p>
                    <p class="card-text" th:if="${product.discount}" style="margin-bottom: 0;">
                      $<span class="crossed-out-text" style="color: red; text-decoration: line-through;" th:text="${product.price}">$50.00</span>
                      <span th:text="${product.discountPrice}"></span>
                    </p>
                    <p class="card-text" style="max-height: 3.6em; overflow: hidden; text-overflow: ellipsis; margin-bottom: 0;" th:text="${product.description}"></p>
                  </a>
                  <br>
                </div>
              </div>
              <div style="position: absolute; bottom: 0px; padding: 20px;">
                <button sec:authorize="isAuthenticated()" th:id="'http://localhost:8080/api/v1/user/'+ ${user.id} +'/cart/' + ${cart.id} + '/add/' + ${product.id}" class="btn btn-primary addProductToCart" style="width: 100%;">Add to Cart</button>
                <div th:unless="${#authorization.expression('isAuthenticated()')}">
                  <a href="/login" class="btn btn-secondary mt-2" style="width: 100%;">Log in to purchase</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
      
      
    </div>
  </div>
</div>
</body>
</html>
