<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="d-flex align-items-center justify-content-center" style="height: 100vh;">
  <div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <h5 class="card-header">Login</h5>
          <br>
          <div th:if="${param.error}" class="alert alert-danger">Your email or password are invalid</div>
          <div class="card-body">
            <form id="loginForm" class="needs-validation" novalidate th:action="@{/login}" method="post" role="form">
              <div class="form-group">
                <label for="username">Email address</label>
                <input type="email" class="form-control" id="username" name="username" placeholder="Enter email" required>
                <div class="invalid-feedback">Please enter a valid email address.</div>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                <div class="invalid-feedback">Please enter your password.</div>
              </div>
              <button type="submit" class="btn btn-primary" value="Log in">Login</button>
			        <a href="/register/user" class="btn btn-block btn-link" type="button">Register</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    // Bootstrap form validation
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        var forms = document.getElementsByClassName('needs-validation');
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>
</body>
</html>