<!DOCTYPE html>
<html lang="en" layout:decorate="layouts/defaultLayout">
<body>
    <div class="container" layout:fragment="content">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Thank you for your order!</h4>
                    <p>Your order has been successfully placed.</p>
                </div>
                <div class="card">
                    <div class="card-header">
                        Order Details
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Order Summary</h5>
                        <p class="card-text">Order ID: <span th:text="${order.id}">123456</span></p>
                        <p class="card-text">Date: <span th:text="${order.date}">April 21, 2024</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <!-- Bootstrap JS (Optional, only if you need JS functionality) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
