<!DOCTYPE html>
<html lang="en" layout:decorate="layouts/defaultLayout">

<body>

    <section id="orders" class="p-5" layout:fragment="content">
        <div class="container-fluid">
          <h2 class="mb-4">All Orders</h2>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Order ID</th>
                  <th>Customer Name</th>
                  <th>Shipping Address</th>
                  <th>Date of Order</th>
                  <th>Date Shipped</th>
                  <th>View Order</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <!-- Orders data will be populated here dynamically -->
                <tr th:each="order : ${orders}">
                  <td><a th:href="'http://localhost:8080/dashboard/' + ${user.id} + '/order/' + ${order.id}"> # <span th:text="${order.id}">id</span></a></td>
                  <td th:text="${order.customer.name}">John Doe</td>
                  <td th:text="${order.customer.number} + ' ' + ${order.customer.street} + ', ' + ${order.customer.city} + ', ' + ${order.customer.country}">123 Main St, City, Country</td>
                  <td th:text="${order.date}">2022-04-25</td>
                  <td></td>
                  <td>
                    <button th:id="${order.id}" type="button" class="btn btn-primary getSingleOrderDashBoard" data-toggle="modal" data-target="#orderModal">
                      View Order
                    </button>
                  </td>
                  <td>
                    <span th:class="${order.status} ? 'badge badge-success' : 'badge badge-primary'">
                      <span th:text="${order.status} ? 'Shipped' : 'Pending'">Pending</span>
                    </span>
                  </td>
                  <td>
                    <button class="btn btn-success btn-sm">Ship</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


            <!-- Modal -->
        <div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="orderModalLabel">Order #123456</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Product ID</th>
                      <th>Product Name</th>
                      <th>Quantity</th>
                      <th>Price</th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>


      </section>
      
      
</body>
</html>
