<!DOCTYPE html>
<html lang="en" layout:decorate="layouts/defaultLayout">
<body>

<div class="container mt-5" layout:fragment="content">
  <h2 class="mb-4">My Orders</h2>
  <div th:each="order : ${orders}">

    <div class="card" >
      <div class="card-header">
        Order Number #<span th:text="${order.id}">12345</span> 
      </div>
      <div class="card-body" th:each="product : ${order.orderedProducts}">
        <h5 class="card-title">Product Name: <span th:text="${product.name}">Product A</span></h5>
        <p class="card-text">Quantity: <span th:text="${product.qty}">2</span></p>
        <p class="card-text">Price: $ <span th:text="${product.price}">20.00</span></p>
      </div>
      <div class="card-footer text-muted">
        Ordered on: <span th:text="${order.date}">January 15, 2024</span> 
      </div>
    </div>
    <br>
  </div>


  <br><br>
</div>

</body>
</html>
