<!DOCTYPE html>
<html lang="en" layout:decorate="layouts/defaultLayout">

<body>
  <div class="container" layout:fragment="content">
    <h1>Order Details</h1>
    <div class="card">
      <div class="card-header">
        Order #<span th:text="${order.id}">123456</span>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>Product Name</th>
              <th>Product Name</th>
              <th>Quantity</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="product : ${order.orderedProducts}">
              <td th:text="${product.Productid}">Product 1</td>
              <td th:text="${product.name}">Product 1</td>
              <td th:text="${product.qty}">2</td>
              <td th:text="${product.price}">$10.00</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer text-muted">
        Total: $ <span th:text="${order.total}">40.00</span>
      </div>
    </div>
  </div>
</body>
</html>
