<div th:fragment="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/" style="font-family: 'Arial Black', sans-serif; font-size: 24px; color: #ff9900; text-decoration: none;">
        Val<div style="color: #d6d6ca; display: inline-block; transform: translateY(3px);">divian</div>
    </a>
    
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <form class="form-inline my-2 my-lg-0">
        <div class="position-relative">
          <input type="text" class="form-control mr-sm-2" id="searchInput" placeholder="Search...">
          <div class="suggestions" id="searchSuggestions" style="display: none; position: absolute; width: 100%; top: calc(100% + 10px); left: 0; z-index: 2;"></div>
          <button class="btn my-2 my-sm-0" type="submit" style="border-color: #ff9900; color:#ff9900">Search</button>
        </div>
      </form>    
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/shop">Shop</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a href="/cart" class="nav-link">
                    <i class="bi bi-cart"></i>
                    <span id="cartItemCount" th:text="${productsInCart}">0</span>
                </a>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" th:href="@{/login}">Login</a>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" th:href="@{/register/user}">Register</a>
            </li>
            <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/orders">Orders</a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
</div>