<div th:fragment="footer">
    <footer class="bg-dark text-light py-4">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <nav class="nav justify-content-center">
                <a class="nav-link" style="color: #ff9900" href="/about">About Us</a>
                <a class="nav-link" style="color: #ff9900" href="/contact">Contact Us</a>
                <a class="nav-link" style="color: #ff9900" href="/faq">FAQ</a>
                <a class="nav-link" style="color: #ff9900" href="/termsandconditions">Terms and Conditions</a>
              </nav>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col text-center">
              <p class="mb-0">Valdivian Company Inc.</p>
              <p>Birkholzweg 38, Frankfurt am Main, Germany</p>
              <p>Email: info@valdivian.com | Phone: +1234567890</p>
            </div>
          </div>
        </div>
      </footer>
</div>