<div th:fragment="header">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" th:href="'/dashboard/' + ${user.id}">Webshop Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="addProduct.html">Add Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="orders.html">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="'/dashboard/' + ${user.id} + '/products'">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Log out</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
